.env
node_modules/
lib/
.DS_Store
package-lock.json
log/
*.log
dist/
terraform/terraform.tfstate
terraform/terraform.tfstate.tfbackup
terraform/.terraform
terraform/.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.hcl
**/terraform/
**/index.mjs
src/tests/claim/pdf-generation/test-outputs/**
backend/src/modules/fema-risk-index-data/tmp/**