.env
node_modules/
lib/
.DS_Store
package-lock.json
bun.lock
log/
*.log
dist/
terraform/terraform.tfstate
terraform/terraform.tfstate.tfbackup
terraform/.terraform
terraform/.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.hcl
**/terraform/
