name: backend-test
defaults:
    run:
        working-directory: ./backend
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Install Chromium for Puppeteer
              run: bunx puppeteer browsers install chrome

            - name: Install Chrome dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y \
                    libnss3 \
                    libatk1.0-0 \
                    libatk-bridge2.0-0 \
                    libcups2 \
                    libdrm2 \
                    libxkbcommon0 \
                    libxcomposite1 \
                    libxdamage1 \
                    libxfixes3 \
                    libxrandr2 \
                    libgbm1 \
                    libasound2t64

            - name: Run Tests
              run: bun test
              env:
                  NODE_ENV: test
                  OBJECTS_STORAGE_BUCKET_NAME: dummy-storage
                  SQS_QUEUE_URL_PROD: https://sqs.us-east-1.amazonaws.com/1234/test
