name: frontend-lint
defaults:
    run:
        working-directory: ./frontend
on:
    push:
        branches: [main, featurethon]
    pull_request:
        branches: [main, featurethon]
jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Run typecheck
              run: bun run typecheck

            - name: Run ESLint & Prettier
              run: bun run lint
